nav {
    background-color: #333;
    padding: 10px;
    display: flex; /* Sử dụng flexbox để căn chỉnh các phần tử bên trong */
    align-items: center; /* Căn các phần tử theo chiều dọc */
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; /* Hiển thị các mục theo hàng ngang */
}

li {
    margin-right: 20px;
}

li:last-child {
    margin-right: 0; /* Loại bỏ margin phải của mục cuối cùng */
}

li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

li a:hover {
    color: yellow;
}

.home-icon {
    margin-right: 10px; /* Khoảng cách giữa biểu tượng ngôi nhà và các mục trong menu */
}